[submodule "Seacrest/vendor/spdlog"]
	path = Seacrest/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Seacrest/vendor/imgui"]
	path = Seacrest/vendor/imgui
	url = https://github.com/Rachelyoubish/imgui
